doctype html
html(lang="en")
    head
        title=Assign7-URL Shortner

    body
        div.container
            div.row
                h1 URL Manipulator
                p 
                    | Your shortened URL is 
                    a(href=base_url+'/'+id) #{base_url}/#{id}
