doctype html
html(lang="en")
    head
        title="Assign7-URL Shortner"

    body
        div.container
            div.row
                h1 URL Manipulator
                p 
                    | Your converted URL is 
                    a(href=myUrl+'/'+extension) #{myUrl}/#{extension}