<!-- Source code inspo from: http://matthewdaly.co.uk/blog/2014/11/09/building-a-url-shortener-with-node-dot-js-and-redis/ -->
doctype html
html(lang="en")
    head
        title="Assign7-URL Shortner"

    body
        div.container
            div.row
                h1 URL Manipulation

            div.row
                form(action="/", method="POST")
                    input(type="url", name="url")
                    input(type="submit", value="Submit")

            
