footer {
    font-size: smaller;
    margin-top: 5px;
}
.initiate_1 button, .initiate_2 button, .initiate_3 button {
  cursor: pointer;
}
html
{
	margin: 20px;
}
.output
{
	padding-top: 20px;
	margin-left: 50px;
	font-size: medium;
	background-color: lightCoral;
	max-width: 250px;
	text-align: center;
	border: 10px;
	border-radius: 20px;
	border-color: #F08080;
}
.output p
{
	text-align: left;
	padding-left: 40px;
}
.initiate_1
{
	background-color: #FFDAB9;
	padding: 15px;
}
.initiate_2
{
	background-color: #E9967A;
	padding: 15px;
}
.initiate_3
{
	background-color: #F08080;
	padding: 15px;
}
.initiate_4
{
	background-color: #CD5C5C;
	padding: 15px;
}
.initiate_5
{
	background-color: #A44A4A;
	padding: 15px;
}
